<%= form_for(@taxa_de_juro, :html => {  :class => 'form-horizontal'}) do |f| %>
<div class="control-group">
	<%= f.label :valordofinanciamento, :class => 'control-label' %>
	<div class="controls">
		<%= f.number_field :valordofinanciamento, :required => true  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :valordaparcela, :class => 'control-label' %>
	<div class="controls">
		<%= f.number_field :valordaparcela, :required => true  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :quantidademeses, :class => 'control-label' %>
	<div class="controls">
		<%= f.number_field :quantidademeses, :required => true  %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= f.submit  "Calcular"%>
	</div>
</div>
<% end %>
