<% provide(:title, t('taxa_de_juro.new.titulo')) %>
<div class="page-header">
	<h1><%= t 'taxa_de_juro.new.titulo' %></h1>
</div>

<div class="row-fluid">
	<div class="span6">
		<%= render 'form' %>
	</div>
	<div class="span6">
      <% if @valor_juros %>

		<p>A taxa de juros correspondente é <%= converter_desconto @valor_juros %>%.</p>


      <p class="notice">Então compesaria pagar a vista o valor de <%= converter_para_moeda(@valor_presente) %> cujo o desconto será de
        <%= converter_desconto (@porcentagem) %> % sobre <%= @taxa_de_juro.valordofinanciamento %></p>

       <% end %>

	</div>
</div>
