<%= form_for(@quantidade_de_mese, :html => {  :class => 'form-horizontal'}) do |f| %>
<div class="control-group">
	<%= f.label :jurosmensal, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :jurosmensal, :required => true  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :valorprestacao, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :valorprestacao, :required => true  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :valorfinanciado, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :valorfinanciado, :required => true  %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= f.submit  "Calcular"%>
	</div>
</div>
<% end %>
