<%= form_for(@quantidade_de_mese, :html => {:class => 'form-horizontal'}) do |f| %>
    <div class="control-group">
      <%= f.label t('quantidade_de_mese.new.jurosmensal'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :jurosmensal, :required => true, :class => 'formato_taxa', :title => t('mensagem.taxadejuros') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t('quantidade_de_mese.new.valorprestacao'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :valorprestacao, :required => true, :required => true, :class => 'formato_moeda', :title => t('mensagem.valorprestacao') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label t('quantidade_de_mese.new.valorfinanciado'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :valorfinanciado, :required => true, :class => 'formato_moeda', :required => true, :title => t('mensagem.valordofinanciamento') %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Calcular", :class => 'btn btn-primary btn-large' %>
        <%= f.submit "Limpar", :type => "reset", :class => 'btn btn-info btn-small' %>
      </div>
    </div>
<% end %>