<%= form_for(@valor_prestaco, :html => {:class => 'form-horizontal'}) do |f| %>
    <div class="control-group">
      <%= f.label t('valor_prestaco.new.numeromeses'), :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :numeromeses, :required => true, :step => '1', :min => '1', :max => '500', :title => t('mensagem.numeromeses') %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t('valor_prestaco.new.taxajuros'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :taxajuros, :class => 'formato_taxa', :required => true, :title => t('mensagem.taxadejuros') %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t('valor_prestaco.new.valorfinanciado'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :valorfinanciado, :required => true, :class => 'formato_moeda', :title => t('mensagem.valorfinanciado') %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Calcular", :class => 'btn btn-primary btn-large' %>
        <%= f.submit "Limpar", :type => "reset", :class => 'btn btn-info btn-small' %>
      </div>
    </div>
<% end %>