<%= form_for(@valor_prestaco, :html => {  :class => 'form-horizontal'}) do |f|  %>
<div class="control-group">
	<%= f.label :numeromeses,  :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :numeromeses, :required => true %>
	</div>
</div>

<div class="control-group">
	<%= f.label :taxajuros, :class => 'control-label'%>
	<div class="controls">
		<%= f.text_field :taxajuros, :required => true  %>
	</div>
</div>

<div class="control-group">
	<%= f.label :valorfinanciado, :class => 'control-label'%>
	<div class="controls">
		<%= f.text_field :valorfinanciado, :required => true  %>
	</div>
</div>

<div class="control-group">
	<%= f.label :valordaprestacao, :class => 'control-label'%>
	<div class="controls">
		<%= f.text_field :valordaprestacao, :required => true  %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.submit "Calcular", :class=> 'btn btn-primary btn-large' %>
	</div>
</div>
<% end %>