<%= form_for(@valor_prestaco, :html => {  :class => 'form-horizontal'}) do |f|  %>
<div class="control-group">
	<%= f.label t('valor_prestaco.new.numeromeses'),  :class => 'control-label' %>
	<div class="controls">
		<%= f.number_field :numeromeses, :required => true %>
	</div>
</div>

<div class="control-group">
	<%= f.label t('valor_prestaco.new.taxajuros'), :class => 'control-label'%>
	<div class="controls">
		<%= f.number_field :taxajuros, :required => true, :step => '0.000001', :min => '0', :max => '999' %>
	</div>
</div>

<div class="control-group">
	<%= f.label t('valor_prestaco.new.valorfinanciado'), :class => 'control-label'%>
	<div class="controls">
		<%= f.number_field :valorfinanciado, :required => true  %>
	</div>
</div>

<div class="control-group">
	<%= f.label t('valor_prestaco.new.valordaprestacao'), :class => 'control-label'%>
	<div class="controls">
		<%= f.number_field :valordaprestacao, :required => true  %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.submit "Calcular", :class=> 'btn btn-primary btn-large' %>
	</div>
</div>
<% end %>