<!DOCTYPE html>
<html>
	<head>
		<title>Compraravistaouaprazo</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="container">
			<header class="header">
				<h3><%= link_to "Comprar a vista ou a prazo ?", root_path %></h3>
			</header>
		</div>
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav nav-pills">
						<li class="active">
							<%= link_to t("layout.prestacao"),  new_valor_prestaco_path %>
						</li>
						<li>
							<%= link_to t("layout.finaciamento"),  new_valor_financiamento_path %>
						</li>
						<li>
							<%= link_to t("layout.percentual"),  new_taxa_de_juro_path %>
						</li>
						<li>
							<%= link_to t("layout.meses"),  new_quantidade_de_mese_path %>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container">
			<section>
				<%= yield %>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<p>
					&copy; Copyright  by Antônio Gusmão
					<%= render 'layouts/facebook'%>
				</p>
			</div>
		</footer>

	</body>
</html>